<div class="filters">
    <div class="options overflow-x-auto">
      <div class="filter">
        <a href="/trending/category"
          ><i class="fa-solid fa-fire"></i>
          <p>Trending</p></a
        >
      </div>
      <div class="filter">
        <a href="/mountains/category"
          ><i class="fa-solid fa-mountain"></i>
          <p>Mountains</p></a
        >
      </div>
      <div class="filter">
        <a href="/beaches/category"
          ><i class="fa-solid fa-umbrella-beach"></i></i>
          <p>Beaches</p></a
        >
      </div>
      <div class="filter">
        <a href="/amazing-pools/category"
          ><i class="fa-solid fa-person-swimming"></i>
          <p>Amazing Pools</p></a
        >
      </div>
      <div class="filter">
        <a href="/rooms/category"
          ><i class="fa-solid fa-bed"></i>
          <p>Rooms</p></a
        >
      </div>
      <div class="filter">
        <a href="/iconic-cities/category"
          ><i class="fa-solid fa-mountain-city"></i>
          <p>Iconic Cities</p></a
        >
      </div>
      
      <div class="filter">
        <a href="/castles/category"
          ><i class="fa-brands fa-fort-awesome"></i>
          <p>Castles</p></a
        >
      </div>
      
      <div class="filter">
        <a href="/camping/category"
          ><i class="fa-solid fa-campground"></i>
          <p>Camping</p></a
        >
      </div>
      <div class="filter">
        <a href="/farms/category"
          ><i class="fa-solid fa-cow"></i>
          <p>Farms</p></a
        >
      </div>
      <div class="filter">
        <a href="/arctic/category"
          ><i class="fa-solid fa-snowflake"></i>
          <p>Arctic</p></a
        >
      </div>
      
      
    </div>
    <div class="tax-toggle">
      <div class="form-check form-switch form-check-reverse">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Display total after taxes</label
        >
      </div>
    </div>
  </div>